/* -------------------------------------------- MENU SECTION -------------------------------------------- */

.menu-section {
  margin-top: 68px;
}

.menu-title {
  text-align: center;
  font-family: "PinkPanther";
  font-size: 50px;
}

.part-one {
  box-shadow: 0 0.25rem 1rem 0 grey;
  border-radius: 15px;
  background-color: pink;
}

.menu-subtitle {
  text-align: center;
  font-family: "PinkPanther";
  font-size: 32px;
}

.menu-item-up {
  display: flex;
  align-items: center;
}

.menu-item-up .item-name {
  font-size: 20px;
  font-weight: bold;
  order: 1;
}

.menu-item-up .dotted-line {
  order: 2;
  background-image: radial-gradient(
    circle,
    currentcolor 1px,
    transparent 1.5px
  );
  background-position: bottom;
  background-size: 1ex 4.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  height: 1em;
}

.menu-item-up .item-price {
  order: 3;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  min-width: 49px;
  text-align: center;
  background-image: linear-gradient(to bottom right, lightcoral, hotpink);
}

.menu-item-down p {
  font-family: EBGaramondItalic;
}

.reward p {
  font-size: 18px;
}

.call-btn {
  font-size: 26px !important;
  background-color: hotpink !important;
  box-shadow: 0 0.25rem 1rem 0 grey;
}

.free-badge {
  width: 80px;
  float: right;
  margin-top: -12px;
}
.free-badge-div {
  float: right;
  width: 80px;
  box-shadow: 0 0.25rem 1rem 0 grey;
  height: 38px;
  margin-top: 21px;
  margin-right: -80px;
  border-radius: 10px;
}

.free-delivery-badge {
  font-size: 32px;
  font-weight: bold;
}

/* -------------------------------------------- MENU SECTION -------------------------------------------- */
