@font-face {
  font-family: "EBGaramondRegular";
  src: URL("EB_Garamond/static/EBGaramond-Regular.ttf") format("truetype");
}

/* -------------------------------------------- NAVBAR -------------------------------------------- */

.navbar {
  min-height: 62px;
}

.navbar-brand {
  font-family: PinkPanther;
}
.brand-icon img {
  width: 40px;
}

.nav-link {
  display: flex !important;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px !important;
}

/* kad je mobile da bude pozadina roza */
@media (max-width: 992px) {
  .nav-link {
    background-color: pink;
  }
}

/* podigne lijevu i desnu stranu da bi ovo uzelo u sredini cijelu duzinu i onda postavi u sredinu */
@media (min-width: 992px) {
  .navbar-brand,
  .navbar-language-div {
    position: absolute;
  }

  .navbar-language-div {
    right: 0;
  }
}

/* kombinacija da itemi u navbaru ne prelaze preko loga */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .navbar-nav {
    padding-left: 10% !important;
  }
}

/* -------------------------------------------- NAVBAR -------------------------------------------- */
