/* -------------------------------------------- POPULAR SECTION -------------------------------------------- */

.popular-section .card-popular {
  height: 100%;
  display: flex;
  box-shadow: 0 0.25rem 1rem 0 grey;
}

.popular-section .card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.popular-section .card.card-price {
  align-self: flex-end;
  flex: 1 1 auto;
}
.popular-section .card-price p {
  text-align: end;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "PinkPanther";
}
.popular-section .card-title {
  font-size: 24px;
}
.popular-section .card-text {
  font-size: 18px;
}

.card-img-top {
  height: 150px;
  width: 150px;
  margin: auto;
}

/* -------------------------------------------- POPULAR SECTION -------------------------------------------- */
