@font-face {
  font-family: "PinkPanther";
  src: URL("Desigers.TTF") format("truetype");
}

@font-face {
  font-family: "EBGaramondRegular";
  src: URL("EB_Garamond/static/EBGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EBGaramondItalic";
  src: URL("EB_Garamond/static/EBGaramond-Italic.ttf") format("truetype");
}

* {
  font-family: EBGaramondRegular;
}

.section-header {
  font-size: 2.5rem;
}
