@font-face {
    font-family: 'PinkPanther';
    src: URL('Desigers.TTF') format('truetype');
  }

  @font-face {
    font-family: 'EBGaramondRegular';
    src: URL('EB_Garamond/static/EBGaramond-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'EBGaramondItalic';
    src: URL('EB_Garamond/static/EBGaramond-Italic.ttf') format('truetype');
  }

* {
    font-family: EBGaramondRegular;
}

/* -------------------------------------------- NAVBAR -------------------------------------------- */

.navbar-brand {
    font-family: PinkPanther;
}

.flag-icon img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.brand-icon img {
    width: 40px;
}

/* -------------------------------------------- NAVBAR -------------------------------------------- */

/* -------------------------------------------- MAIN SECTION -------------------------------------------- */

.main-image img {
    width: 75%;
    border-radius: 15px;
}

.main-box {
    border: 1px solid lightpink;
    border-radius: 15px;
}

.main-box h3 {
    margin-bottom: 1rem;
}

.main-triple-icon {
    width: 64px;
}

.main-triple-btn, .main-triple-btn {
    font-size: 20px !important;
}

.main-triple {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    text-shadow: 2px 1px 2px black;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 36px;
}
.background-image {
    background-size: cover;
    height: 250px;
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url("../img/backgroundtop.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
/* -------------------------------------------- MAIN SECTION -------------------------------------------- */

/* -------------------------------------------- POPULAR SECTION -------------------------------------------- */

.card-popular {
    height: 100%;
    display: flex;
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.card-price {
    align-self: flex-end;
    flex: 1 1 auto;
}
.card-price p {
    text-align: end;
    margin: 0;
}
.card-price small {
    font-family: 'PinkPanther';
}

/* -------------------------------------------- POPULAR SECTION -------------------------------------------- */

/* -------------------------------------------- SLIDER -------------------------------------------- */
.carousel-inner {
    border-radius: 15px;
}

.carousel-control-prev{
    margin-left: -40px;
}
.carousel-control-next {
    margin-right: -40px;
}
.carousel-control-prev-icon {
    background-image: url("../img/caret-left-fill.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("../img/caret-right-fill.svg") !important;
}

/* -------------------------------------------- SLIDER -------------------------------------------- */

/* -------------------------------------------- REVIEW SECTION -------------------------------------------- */

.review-btn {
    border: none;
    border-radius: 15px;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    opacity: .5;
}

.review-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    column-gap: 30px;
}
.review-profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.review-card {
    /*
    border: 1px solid grey;
    border-radius: 20px;
    background: lightgrey;
    */
}

.review-info {
    height: 50px;
    align-items: center;
}

.no-picture {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

.carousel-item {
    min-height: 210px;
}

/* -------------------------------------------- REVIEW SECTION -------------------------------------------- */

/* -------------------------------------------- MENU SECTION -------------------------------------------- */
/*
.menu-background-image {
    background-size: cover;
    height: 100vh;
    background-image: url("../img/background3.jpg");
}
*/
.menu-title {
    text-align: center;
    font-family: 'PinkPanther';
    font-size: 50px;
}

.part-one {
    border: 2px dashed black;
    border-radius: 15px;
    background-color: pink;
}

.menu-subtitle {
    text-align: center;
    font-family: 'PinkPanther';
    font-size: 32px;
}

.menu-item {

}

.menu-item-up {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.menu-item-up .item-name {
    font-size: 20px;
    font-weight: bold;
    order: 1;
}

.menu-item-up .dotted-line {
    /*border-bottom: 4px dotted black; */  
    order: 2;
    background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
    background-position: bottom;
    background-size: 1ex 4.5px;
    background-repeat: space no-repeat;
    content: "";
    flex-grow: 1;
    height: 1em;
}

.menu-item-up .item-price {
    order: 3;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    /*box-shadow: 0px 0px 5px deeppink;
    background-color: hotpink;*/
    background-image: linear-gradient(to bottom right, lightcoral, hotpink);
}

.menu-item-down p {
    font-family: EBGaramondItalic;
}


/* -------------------------------------------- MENU SECTION -------------------------------------------- */

.map-section {
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.map-section iframe {
    width: 100%;
    height: 100%;
}